body {
    background-color: #121212;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #769ada;
    color: #333;
}

header {
    background-color: #007acc;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

h1 {
    margin: 0;
    font-size: 2.5rem;
}

h2 {
    margin: 0;
    font-size: 1.5rem;
}

section {
    padding: 2rem;
    text-align: left;
}

#jokes {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    text-align:left;
}

#image img {
    max-width: 100%;
    border-radius: 10px;
}

#link {
    background-color: #eee;
    padding: 1rem 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#link a {
    color: #007acc;
    text-decoration: none;
}

#quotes {
    background-color: #f7f7f7;
    padding: 1rem 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#intro {
    background-color: #007acc;
    color: #fff;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#survey {
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form {
    max-width: 600px;
    margin: 0 auto;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
}

input[type="submit"] {
    background-color: #007acc;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #005faa;
}

#para1{
    background-color: white;
    text-align: center;

}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}